.list-card-wrapper {
  width:100%;
  margin: auto;
  background-color: black;
}

.list-card{
  float: left;
  width: 30%;
  margin: 15px;
}

.list-card-trucks{
  background-color: black;
  width: 100%;
  margin: auto;
}

.list-card-wrapper-trucks{
  display: inline-flex;
  width: 100%;
  margin: auto;
}

.list-title {
  text-align: center;
}

.rateButton {
  cursor: pointer;
  float: right;
  border-radius: 13px;
  background-color: floralwhite;
  box-shadow: 2px 5px grey;
}
.rateButton:hover {
  background-color: #F0FAF0;
  box-shadow: 2px 5px white;
}

.right {
  float: right;
  padding: 5px;
}


.food-card {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  }

@media only screen and (max-width: 600px) {
  .list-card-wrapper {
    width:100%;
    margin: auto;
  }

  .rateButton {
    cursor: pointer;
    float: right;
    border: none;
    background-color: white;
  }
  .rateButton:hover {
    box-shadow: 2px 5px white;
  }
  .list-card{
    width: 95%;
    margin: 15px;
  }

  .list-card-trucks{
    width: 100%;
    margin: auto;
  }
}

