.list-card-wrapper {
  width:100%;
  margin: auto;
  background-color: black;
 /* display: block;*/
  /*border: 1px solid black;*/
  /*margin: auto;*/
}

.list-card{
  /*border: 2px solid red;*/
  float: left;
  width: 30%;
  margin: 15px;
}

.list-card-trucks{
  /*border: 2px solid red;*/
  /*float: left;*/
  width: 100%;
  margin: auto;
}

.list-card-wrapper-trucks{
  display: inline-flex;
  /*float: left;*/
  width: 100%;
  margin: auto;
}

.list-title {
  text-align: center;
}
.right {
  float: right;
  padding: 5px;
}
.food-card {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.food-card:hover {
 /* width: 50%;
  margin: auto;
  margin-bottom: 20px;*/
  background-color: bisque;
}
a {
  text-decoration: none;
  color: inherit;
  }

@media only screen and (max-width: 600px) {
  .list-card-wrapper {
  width:100%;
  margin: auto;
 /* display: block;*/
  /*border: 1px solid black;*/
  /*margin: auto;*/
}

.list-card{
  /*border: 2px solid red;*/
 /* float: left;*/
  width: 95%;
  margin: 15px;
}

.list-card-trucks{
  /*border: 2px solid red;*/
  /*float: left;*/
  width: 100%;
  margin: auto;
}
  
}

