<div class="list-card-wrapper">

  <div class="list-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dagens topp 5</mat-card-title>
        <mat-card-subtitle ng-app="myApp" ng-controller="datCtrl">
          {{ today | date }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card *ngFor="let food of foods" class="food-card">
          <mat-card-subtitle>
              {{food.restaurant}}
          </mat-card-subtitle>
        <span><b>{{food.name}}</b></span>
        <hr>
        
        <button class="rateButton" [disabled]="rated(food._id)" (click)="openRateDialog(food)">
          <span><b>{{food.ratingAvg | number : '1.1-1'}}</b></span>
          <mat-icon style="color:red">favorite</mat-icon>
        </button>
        <br>
        <span *ngIf="food.available == false" class="right"><b style="color:red">Not available</b></span>
        
        <span style="color:green">{{food.price}} kr</span>

      </mat-card>
    </mat-card>
  </div>

  <div class="list-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a target="_blank" href="http://www.hors.se/restaurang/restaurang-zenit/">Zenit</a>
          </mat-card-title>
        <mat-card-subtitle ng-app="myApp" ng-controller="datCtrl">
          {{ today | date }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card *ngFor="let food of zenitFoods" class="food-card">
          <mat-card-subtitle>
              {{food.restaurant}}
          </mat-card-subtitle>
        <span><b>{{food.name}}</b></span>
        <hr>
        <button *ngIf="food.ratingAvg != 0" class="rateButton" [disabled]="rated(food._id)" (click)="openRateDialog(food)">
          <span><b>{{food.ratingAvg | number : '1.1-1'}}</b></span>
          <mat-icon style="color:red">favorite</mat-icon>
        </button>
        <button *ngIf="food.ratingAvg == 0" class="rateButton" [disabled]="rated(food._id)" (click)="openRateDialog(food)">
          <span >-</span>
          <mat-icon style="color:red">favorite</mat-icon>
        </button>
        <br>
        <span *ngIf="food.available == false" class="right"><b style="color:red">Not available</b></span>
                
        <span style="color:green">{{food.price}} kr</span>
        
      </mat-card>
    </mat-card>
  </div>

  <div class="list-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a target="_blank" href="https://eurest.mashie.com/public/menu/restaurang+k%C3%A5rallen/a4160fd5?country=se">Kårallen</a>
          </mat-card-title>
        <mat-card-subtitle ng-app="myApp" ng-controller="datCtrl">
          {{ today | date }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card *ngFor="let food of karallenFoods" class="food-card">
         <mat-card-subtitle>
              {{food.restaurant}}
          </mat-card-subtitle>
        <span><b>{{food.name}}</b></span>
        <hr>
        <button *ngIf="food.ratingAvg != 0" class="rateButton" [disabled]="rated(food._id)" (click)="openRateDialog(food)">
          <span><b>{{food.ratingAvg | number : '1.1-1'}}</b></span>
          <mat-icon style="color:red">favorite</mat-icon>
        </button>
        <button *ngIf="food.ratingAvg == 0" class="rateButton" [disabled]="rated(food._id)" (click)="openRateDialog(food)">
          <span >-</span>
          <mat-icon style="color:red">favorite</mat-icon>
        </button>

        <span style="color:green">{{food.price}} kr</span>
        
      </mat-card>
    </mat-card>
  </div>

<div class="list-card-wrapper-trucks">
  <mat-card class="list-card-trucks">
    <mat-card-header>
      <mat-card-title style="color:white">Dagens Foodtrucks</mat-card-title>
        <mat-card-subtitle  style="color:white" ng-app="myApp" ng-controller="datCtrl">
            {{ today | date }}
        </mat-card-subtitle>
      </mat-card-header>
      <div *ngFor="let truck of trucks" class="list-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{truck.restaurant}}</mat-card-title>
            <mat-card-subtitle ng-app="myApp" ng-controller="datCtrl">
             {{ today | date }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card *ngFor="let food of truck" class="food-card">
            <mat-card-subtitle>
                  {{food.restaurant}}
              </mat-card-subtitle>
            <span><b>{{food.name}}</b></span>
            <hr>
            <button class="rateButton" [disabled]="rated(food._id)" (click)="openRateDialog(food)">
              <span *ngIf="food.ratingAvg != 0"><b>{{food.ratingAvg | number : '1.1-1'}}</b></span>
              <span *ngIf="food.ratingAvg == 0">-</span>
              <mat-icon style="color:red">favorite</mat-icon>
            </button>
            <span *ngIf="food.available == false" class="right"><b style="color:red">Not available</b></span>
            
            <span style="color:green">{{food.price}} kr</span>
  
          </mat-card>
        </mat-card>
      </div>
  </mat-card>
</div>

  </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('datCtrl', function($scope) {
        $scope.today = new Date();
    });
    </script>
