.list-card-wrapper {
  width:50%;
  margin: auto;
}
.list-title {
  text-align: center;
}
#right {
  float: right;
  padding: 5px;
}
.food-card {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  background-color: aqua;
}

