<div class="list-card-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dagens topp 10</mat-card-title>
      <mat-card-subtitle ng-app="myApp" ng-controller="datCtrl">
        {{ today | date }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card *ngFor="let food of foods" class="food-card">
      <span>{{food.name}}</span>
      <mat-icon id="right">favorite</mat-icon>
      <span id="right">{{food.rating}}</span>
    </mat-card>
    <hr>

    <mat-expansion-panel *ngFor="let food of foods" [hideToggle]="true" class="food-card">
      <mat-expansion-panel-header>
        <div style="text-align: center; width: 100%">

          <span>{{food.name}}</span>
          <mat-icon id="right">favorite</mat-icon>
          <span id="right">{{food.rating}}</span>
          <i class="material-icons" style="color: white; font-size: 40px; margin-top: -15px;">
            expand_more
          </i>
        </div>
      </mat-expansion-panel-header>
      <div>
        <p>{{food._id}}</p>
      </div>
    </mat-expansion-panel>


    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('datCtrl', function($scope) {
        $scope.today = new Date();
    });
    </script>
