@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
#name{
  width: 400px;
}
#rating {
  width: 70px;
}
#restaurant {
  width: 150px;
}
#successText {
  color: #42A948;
}
