<div class="container">
  <div [hidden]="submitted">
    <h1>Ny mat</h1>

    <div [hidden]="!success || submitted">
        <h4 id="successText">Successfully submitted to the database</h4>
    </div>

    <form (ngSubmit)="onSubmit()" #foodForm="ngForm">
      <div class="form-group">
        <label for="_name">Name</label>
        <input type="text" class="form-control" id="name"
               autocomplete="off"
               autofocus
               required
               [(ngModel)]="_name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger" > <!-- Class => Design of red box-->
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="_rating">Rating</label>
        <input type="number" class="form-control" id="rating"
                required
                min="0" max="10" step="1"
               [(ngModel)]="_rating" name="rating"
               oninput="validity.valid||(value='');">
      </div>

      <div class="form-group">
        <label for="_restaurant">Restaurant</label>
        <br>
        <mat-select class="form-control" required
        [(ngModel)]="_restaurant" name="restaurant" id="restaurant">
          <mat-option value=Mocado>Mocado</mat-option>
          <mat-option value=Sukaldari>Sukaldari</mat-option>
          <mat-option value=Kebabhuset>Kebabhuset</mat-option>
          <mat-option value=Foodtruck>Foodtruck</mat-option>
        </mat-select>
        <br>
        <br>
        <label>Always available? </label>
        <mat-checkbox
        [(ngModel)]="_available" name="available" id="available"></mat-checkbox>
      </div>

      <button type="submit"
      class="btn btn-success"
      [disabled]="!foodForm.form.valid">Submit</button>
    </form>

  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ _name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Rating</div>
      <div class="col-xs-9">{{ _rating }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Restaurant</div>
        <div class="col-xs-9">{{ _restaurant }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Is available everyday?</div>
        <div class="col-xs-9">{{ _available }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>

    <button (click)="finalSubmit()" class="btn btn-success">Confirm</button>
  </div>
</div>

