<h1 mat-dialog-title>Rate this food</h1>
<div mat-dialog-content>
    <div [hidden]="!submitted">
        <h4 id="successText">Successfully submitted your rating</h4>
    </div>

    <form (ngSubmit)="onSubmit()" #foodForm="ngForm" >
      <div class="form-group">
        <label for="_rating">Rating</label>
        <input type="number" class="form-control" id="rating"
                required
                min="0" max="10" step="1"
               [(ngModel)]="_rating" name="rating"
               oninput="validity.valid||(value='');">
      </div>
      <button type="submit"
      class="btn btn-success"
      [disabled]="!foodForm.form.valid || submitted">Submit</button>
    </form>
    <button 
      class="btn btn-success"
      (click)="deleteFood()"
      >Delete</button>
  </div>

