.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  font-family: "Arial";
  display: inline-block;
  margin: 0 10px;
  color: #e00451;
  text-decoration: none;
}
mat-toolbar a:hover {
  color: #476191;
}

.centrera {
  /*width: 30%;*/
  margin: auto;
}

img{
  height: 40px;
}

#left{
  float: left;
}
#right{
  float: right;
}

.wrapper {
  width:100%;
  margin: auto;
  background-color:#304870;
  text-align: center;
}
