.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
mat-toolbar a:hover {
  color: darkviolet;
}

.centrera {
  width: 30%;
  margin: auto;
}

