
<mat-toolbar class="wrapper">
  <div id="left">
    <a href="./">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Food_font_awesome.svg">
    </a>
  </div>

  <div class="centrera" >
   <!-- <a routerLink="/create">Skapa</a> -->
   <a routerLink="/list">Dagens meny</a>
    <!--<a routerLink="/login">Login</a>-->
  </div>

  <div id="right">
    <a href="./eroor404">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Food_font_awesome.svg">
    </a>
    
  </div>
</mat-toolbar>
